{% extends "plants/layout.html" %}

{% block content %}
    
<div class="main-container2">


    <h2>Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <div>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="form-group mb-3">
                <input autofocus type="text" class="form-control" name="username" , placeholder="Username">
            </div>
            <div class="form-group mb-3">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <input type="submit" class="btn myBtn" value="Login">
        </form>
    </div>

    <div class="margin-top-20">
        Don't have an account? <a href="{% url 'register' %}">Register here.</a>
    </div>
</div>
    
{% endblock %}