{% extends "plants/layout.html" %}

{% block content %}
<div class="main-container2">


    <h2>Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <div class="form-group mb-3">
            <input autofocus type="text" class="form-control" name="username" , placeholder="Username">
        </div>
        <div class="form-group mb-3">
            <input type="email" class="form-control" name="email" placeholder="Email Address">
        </div>
        
        <div class="form-group mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <div class="form-group mb-3">
            <input type="password" class="form-control" name="confirmation" placeholder="Confirm Password">
        </div>
        <input type="submit" class="btn myBtn" value="Register">
    </form>

    <div class="margin-top-20">
        Already have an account? <a href="{% url 'login' %}">Log in here.</a>
    </div>
</div>
{% endblock %}